@media screen and (max-width: 768px) {
    .container__register {
        padding: 10px;
    }

    .container__register > .register__card {
        min-height: auto;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .container__register {
        padding: 10px 50px;
    }

    .container__register > .register__card {
        min-height: auto;
    }
}