@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
  background-color: #d9e6f6;
  color: #333333;
}

a {
  text-decoration: none;
}